/* start main styles */
:root {
  --main-black: #18191a;
  --main-red: #dc3545;

  --main-gap: 20px;
  --main-padding: 25px;
  --main-delay: 350ms;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 10000px;
}
/* end main styles */

/* start container */
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
/* end container */

/* start mode */
  body[data-mode="red"]{
    --main-color:#dc3545;
  }
/* end mode */

/* start general styles */
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

p span{
  color: var(--main-color);
}
/* end general styles */

/* landing-section */
.landing-section {
  height: 100vh;
  background-image: url("../media/01.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  color: white;
}
.landing-section .container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.landing-section header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
h1{
  font-size: 25px;
}
.landing-section header ul {
  display: flex;
  gap: 20px;
}
.landing-section header li {
  transition-duration: var(--main-delay);
}
.landing-section header li:hover {
  color: var(--main-color);
}

#hello{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
#hello p{
  text-align: center;
  font-size: 20px;
}
#hello .h2{
  font-weight: 500;
  font-size: 35px;
}
